@import url("search.css");
.search-results{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    right:0;
    margin-top:10px;
    background:#ffffff;
    border-radius:18px;
    box-shadow:0 20px 50px rgba(0,0,0,.18);
    overflow:hidden;
    z-index:999;
    max-height:420px;
    overflow-y:auto;
}

.search-results.active{
    display:block;
}

.search-item{
    display:flex;
    align-items:center;
    gap:14px;
    padding:14px 16px;
    cursor:pointer;
    transition:.25s;
    border-bottom:1px solid #f2f2f2;
}

.search-item:hover{
    background:#fff9ec;
}

.search-item img{
    width:58px;
    height:58px;
    object-fit:contain;
    border-radius:12px;
    background:#fff;
}

.search-info{
    flex:1;
}

.search-info h4{
    margin:0;
    font-size:15px;
    font-weight:700;
    color:#111;
}

.search-info p{
    margin-top:4px;
    font-size:12px;
    color:#777;
}

.search-empty{
    padding:35px 20px;
    text-align:center;
    color:#888;
    font-size:15px;
}
